.user-panel {
  background: white;
  padding-bottom: 20px;
  color: #565A5C;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user-photo {
  width: 100%
}
