.user-panel {
  background: white;
  padding-bottom: 20px;
  color: #565A5C;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user-photo {
  width: 100%
}
.offers {
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.panel-title {
  background: #EDEFED;
  color: #565A5C;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-info {
  padding: 15px;
}
