.dashboard-container {
  margin: 30px auto;
}

.user-panel {
  background: white;
  padding-bottom: 20px;
  color: #565A5C;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user-photo {
  width: 100%
}
.offers {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-header {
  background: #EDEFED;
  color: #565A5C;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.employees {
  padding: 20px;
}

.requests-list li {
  border-left: 5px solid #565A5C;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  color: rgba(0,0,0,0.8);
}
.requests-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.form-answer {
  display: none;
  width: 100%;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 10px;
}
