/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.feature {
  height: 270px;
  margin: 100px;
  font-size: large;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: grey-darker;
}

#wrapper {
  height: 60vh;
  background: white;
}
.feature h2 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.wrapper h3 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black
}

.carousel-side{
  height: 50vh;

}
.carousel-side h3 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  align-items: center;
}
 
.missions {
  background-color: grey;
}

.missions h2 {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.missions a {
  margin-top: inherit;
}
.fa-arrow-down {
  color: white;
}
.arrowd{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  margin-top: 50px;

}
