<div class="banner" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/startup-office.jpg');">
  <div class="banner-content">
    <h1>Mettez vos salariés à disposition d'autres entreprises</h1>
    <p>Mieux que l'intérim', les CDD ou le licenciement… Essayez, ça marche !</p>
    <a class="btn btn-primary btn-lg">JE M'INSCRIS</a>
  </div>
</div>
