<div class="banner" style="background: linear-gradient(rgba(50,50,50,0.8), rgba(15,15,15,0.5)), url('http://rack.3.mshcdn.com/media/ZgkyMDE0LzAyLzIyL2MzL3N0YXJ0dXBvZmZpLjU5ZTQ1LmpwZwpwCXRodW1iCTE0Mzh4CmUJanBn/f7930e84/291/startup-office.jpg');">
  <div class="banner-content">
    <h1>Share your Employees </h1>
    <p>It's better than firing them </p>
    <a class="navbar-wagon-item navbar-wagon-button btn">JE M'INSCRIS</a>
  </div>
</div>
