<div class="col-xs-12 col-sm-4">
    <div class="card">
      <%= link_to post_path(post) do %>
        <div class="card-image" style="background-image: url(<%= post.photo.url(:cards) %>)">
          <div>
            <p><%= post.description.first(200) %></p>
          </div>
        </div>
      <% end %>
      <div class="card-title text-center">
        <h3><%= post.title %></h3>
      </div>
    </div>
</div>
