<ul class="list-unstyled requests-list">
  <% current_user.posts.each do |post| %>
    <li id=<%= "post-#{post.id}" %>>
      <div class="row request">
        <div class="col-xs-3">
          <%= image_tag post.photo, class: "avatar-large" %>
        </div>
        <div class="col-xs-9">
          <%= post.description %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
