<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="user-panel text-center">
        <%= image_tag current_user.picture, class: "user-photo" %>
        <h2><%= current_user.first_name %></h2>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">

    </div>
  </div>
</div>
