<div class="container index">
<h1 class="text-center">All Posts</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
          <div class="card">

            <%= link_to post_path(post) do %>
              <div class="card-image" style="background-image: url(<%= post.photo.url(:cards) %>)">
                <div>
                  <p><%= post.description %></p>
                </div>
              </div>
            <% end %>
            <div class="card-title text-center">
              <h3><%= post.title %></h3>
            </div>
          </div>
      </div>
    <%end%>
  </div>
</div>
</div>


