.user-form-container {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;
}
.post-form {
  margin-top: 100px;
  margin-bottom: 100px;
}
