body{
  background: #EBEBEB;
}

.card{
  background: white;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.card-mission {
  color: $gray-darker;
  font-weight: bold;
  font-size: 18px;
  font-weight: 300;
}

.card-category {
  color: #DD5555;
}

.card-category h3 {
  color: #DD5555;
  font-size: 22px;
  margin: 5px;
}

.card-mission {
  padding: 10px;
  margin: 5px;
}

.card-mission li {
  font-size: 15px;
  line-height: 1.1em;
}
