body{
  background: #EBEBEB;
}

.card{
  background: white;
  width: 320px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.card-image {
  width: 100%;
}
.card-title {
  padding: 10px;
}
