<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-container">
        <h1>Specify your request</h1>
        <%= simple_form_for([@post, @mission]) do |f| %>
          <%= f.input :description, required: false, label: false, placeholder: "description" %>
          <%= f.button :submit, class:"fb-login btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
